# Environment variables
.env

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Go build artifacts
*.test
*.out
go-local-demo
runner
service

# Go workspace file
go.work

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
